.container__app {
  display: grid;
  /* background: rgb(93, 52, 52); */
  grid-template-rows: 200px 1fr 150px;
  height: 100vh;
}


@media only screen and (max-width: 800px) {
  .container__app {
    grid-template-rows: 200px 1fr 500px !important;
    height: 100vh;
    width: 100vw;
  }

}




























































/* .netflix-logo {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: #E50914;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.netflix-logo span {
  letter-spacing: -2px;
} */