





























































/* .netflix-logo {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: #E50914;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.netflix-logo span {
  letter-spacing: -2px;
} */